:root {
  --sakura: #f7cfe1;

  /* Testing these colors */
  --white-raisin: #e4be8b;
  --burning-sand: #cf825f;
  --dusty-red: #ba4a4f;
  --amazon-stone: #797674;
  --moonscape: #715d65;
  --zero-gravity: #2d1d29;
  --muted-berry: #91788c;
  --liebermann: #93b199;
  --santorini: #446d84;
  --toad-king: #3d6e51;
}
